on:
  push:
    branches:
      - 'kong-ee-demo'
    paths:
      - 'deck/**'
      - '.insomnia/**'
jobs:
  deploy_to_clouds:
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, 'kong-ee-demo') }}
    name: Deploying Kong Configuration
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup node
      uses: actions/setup-node@v2.2.0
      with:
        node-version: "12"
    - name: Install DecK
      run: |
        curl -sL https://github.com/kong/deck/releases/download/v1.27.1/deck_1.27.1_linux_amd64.tar.gz -o deck.tar.gz
        tar -xf deck.tar.gz -C /tmp
        cp /tmp/deck /usr/local/bin/
    - name: Install Insomnia
      run: |
        curl -sL https://github.com/Kong/insomnia/releases/download/lib%403.16.0/inso-linux-3.16.0.tar.xz -o inso.tar.xz
        sudo tar -xf inso.tar.xz -C /tmp/
        cp /tmp/inso /usr/local/bin/
    - run: inso -w $GITHUB_WORKSPACE export spec blog -o blog.yaml --ci
      name: Export blog spec
    - name: Generate new gateway configuration
      run: deck file openapi2kong --spec ./blog-app/blog.yaml --output-file kong.yaml
    - name: Add Kong plugins
      run: |
        # Add plugins based on literal config
        deck file add-plugins -s kong.yaml -o kong.yaml --config "$KONG_OIDC_CONF" --selector "$.services[*]"
        # Add plugins based on files in folder
        deck file add-plugins -s kong.yaml -o kong.yaml ./deck/plugins/*
      env:
        KONG_OIDC_CONF: ${{ secrets.KONG_OIDC_PLUGIN }}
    - name: Backup existing configuration
      run: deck dump --headers Kong-Admin-Token:kong_admin --workspace default -o kong-backup.yaml --select-tag gitops --tls-skip-verify
      env:
        DECK_KONG_ADDR: ${{ secrets.ADMIN_API_URL }}
    - name: Apply new configuration
      run: deck sync --headers Kong-Admin-Token:kong_admin --workspace default --select-tag gitops -s kong.yaml --tls-skip-verify
      env:
        DECK_KONG_ADDR: ${{ secrets.ADMIN_API_URL }}
    - name: Run API Tests
      run: |
        inso -w $GITHUB_WORKSPACE run test -e Development "Policy Guardrails" --ci --disableCertValidation
    - name: Back out changes on failure
      if: ${{ failure() }}
      run: deck sync --headers Kong-Admin-Token:kong_admin --workspace default -s kong-backup.yaml --select-tag gitops --tls-skip-verify
      env:
        DECK_KONG_ADDR: ${{ secrets.ADMIN_API_URL }}
